[Unit]
Description=Fix display using autorandr
Requires=gdm.service

[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
ExecStart=/usr/bin/runuser -u yudong -- sh -c "export DISPLAY=:0; /usr/bin/autorandr --change"

[Install]
WantedBy=default.target
