[Unit]
Description=Persistent tunnel to LRZ
After=network.target
After=network-online.target

[Service]
ExecStart=/home/sunyudong/scripts/vpn.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
