@namespace url(http://www.w3.org/1999/xhtml);



/** userContent.css
***************************/

@-moz-document url-prefix("about:reader") {
	#reader-domain, #reader-estimated-time
	{
		font-family: monospace !important;
	}

	/* When sans-serif font is selected */
	body.sans-serif {
		font-family: sans-serif !important;
	}
	/* When serif font is selected */
	body.serif {
		font-family: serif !important;
	}

	/* When dark background is selected */
	:root[hasbrowserhandlers="true"] body.dark  {
	}
	/* When light background is selected */
	:root[hasbrowserhandlers="true"] body.light {
	}
	/* When sepia background is selected */
	:root[hasbrowserhandlers="true"] body.sepia {
	}
}